@use "variables" as *;

header {
  width: 100%;
  background-color: $bg-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  .logo {
    font-size: 2.8rem;
    position: relative;
    @include media-breakpoint-up(lg) {
      font-size: 2.9rem;
    }
    @include media-breakpoint-up(xxl) {
      font-size: 3rem;
    }
  }
  .logo::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-color: $bg-color;
    width: 100%;
    height: 100%;
    animation: show 1s ease forwards;
    animation-delay: 0.4s;
  }
  nav {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    @include media-breakpoint-up(md) {
      gap: 3rem;
    }
    @include media-breakpoint-up(lg) {
      gap: 5rem;
    }
    @include media-breakpoint-up(xl) {
      gap: 6.5rem;
    }
    @include media-breakpoint-up(xxl) {
      gap: 8rem;
    }

    .link {
      font-size: 1.8rem;
      transition: 0.3s;
      @include media-breakpoint-up(lg) {
        font-size: 1.9rem;
      }
      @include media-breakpoint-up(xxl) {
        font-size: 2rem;
      }
    }
    .link:hover {
      transform: scale(1.2) translateY(5px);
    }
    .link:active {
      color: $active;
      transform: scale(0.8);
      transition: 0.3s;
    }
  }
  nav::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-color: $bg-color;
    width: 100%;
    height: 100%;
    animation: show 1s ease forwards;
    animation-delay: 0.7s;
  }
}

@keyframes show {
  100% {
    width: 0%;
  }
}
