@use "variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans";
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: $bg-color;
}

a,
h1,
p,
.skill,
h3,
.socials {
  text-decoration: none;
  color: $txt-color;
}

.link:hover,
.jf,
h2 {
  color: $main-color;
}

button {
  padding-block: 1rem;
  font-size: 2rem;
  border: none;
  outline: none;
  border-radius: 12px;
  background-color: $main-color;
  box-shadow: inset -15px -15px 16px #3a716c, inset 15px 15px 16px #9cffff;
  color: $bg-color;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  box-shadow: inset 15px 15px 16px #3a716c, inset -15px -15px 16px #9cffff;
}

.socials {
  color: $dark-grey;
  font-size: 4rem;
  text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
    1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
    4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
    4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee,
    7px 6px 1px #cccccc, 2px 2px 2px rgba(206, 89, 55, 0);
  transition: 0.3s;
}
.socials:hover {
  transform: rotate(20deg) scale(1.2);
}
.socials:active {
  transform: rotate(-20deg) scale(0.8);
  color: $active;
}

.logo,
h1,
button,
.logo-bot {
  font-weight: 800;
}

.link,
h2 {
  font-weight: 600;
}

#skills,
#portfolio {
  padding: 0 2rem 20rem 2rem;
}

.skill-heading,
.portfolio-heading,
.contact-heading {
  text-align: center;
  font-size: 4.5rem;
  letter-spacing: 5px;
  margin-block: 2rem;
  color: $txt-color;
  text-shadow: 0 3px 3px $txt-color;
  @include media-breakpoint-up(lg) {
    font-size: 5.5rem;
  }
  @include media-breakpoint-up(xl) {
    font-size: 6rem;
  }
}

.skill-subheading,
.portfolio-subheading,
.contact-subheading {
  text-align: center;
  font-size: 3rem;
  margin-block: 2rem;
  color: $main-color;
  @include media-breakpoint-up(lg) {
    font-size: 4rem;
    text-align: left;
  }
}

input,
textarea {
  width: 60%;
  font-size: 2rem;
  color: $txt-color;
  background-color: $dark-grey;
  border: none;
  border-radius: 8px;
  padding: 0.5rem;
}
